[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
fastapi = "*"
python-dotenv = "*"
pymupdf = "*"
pylint = "*"
casefy = "*"
uvicorn = "*"
requests = "*"
boto3 = "*"
botocore = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.7"
